/*
Animations
===================
*/
.spin {
    -webkit-animation: spinAnimation 0.5s 5 linear;
    -moz-animation: spinAnimation 0.5s 5 linear;
    -o-animation: spinAnimation 0.5s 5 linear;
    animation: spinAnimation 0.5s 5 linear;
    display: inline-block;
}
@-webkit-keyframes spinAnimation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinAnimation {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes spinAnimation {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
}
@keyframes spinAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

