.bootbox .modal-content {
    width: 80%;
}

.bootbox-confirm .modal-body,
.bootbox-alert .modal-body {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.bootbox-confirm .modal-footer,
.bootbox-alert .modal-footer {
    padding: 0;
    text-align: center;
}

.bootbox-confirm .modal-footer button,
.bootbox-alert .modal-footer button,
.bootbox-confirm .modal-footer button:hover,
.bootbox-alert .modal-footer button:hover,
.bootbox-confirm .modal-footer button:focus,
.bootbox-alert .modal-footer button:focus {
    width: 50%;
    color: #D0C78F;
    font-size: 16px;
    background-color: inherit;
    border: 0;
    border-radius: 0;
    padding: 10px;
    outline: none;
}

.bootbox-confirm .modal-footer button:active,
.bootbox-alert .modal-footer:active {
    background-color: #E5E5E5;
}

.bootbox-confirm .modal-footer .btn + .btn {
    font-weight: bold;
    border-left: 1px solid #E5E5E5;
    margin: 0;
}

.bootbox.modal-full-size .modal-content {
    width: initial;
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.bootbox.modal-full-size .modal-content .modal-body {
    overflow: auto;
    height: calc(100% - 56px);
}
