/*
Button styles
===============================
 */
.main-buttons {
    top: 10px;
    left: 10px;
    position: absolute;
}

.btn-pill {
    padding: 1px 10px;
    border-radius: 15px;
    height: 30px;
    margin: 10px 5px 0 5px;
}

.btn-main,
.btn-main:hover,
.btn-main:focus {
    text-align: center;
    color: #FFF;
    background-color: #999;
}

.btn-main:active {
    color: #AAA;
}

.btn-nobackground {
    background-color: inherit;
    border: none;
}

.btn-tab {
    font-size: 1em;
    padding: 0;
    line-height: 5px;
}

.btn-layouts,
.btn-layouts:hover,
.btn-layouts:focus {
    font-size: 7em;
    color: #555;
    background-color: #FFF;
    padding: 5px;
    box-shadow: 0 0 10px 1px #999;
}

.btn-layouts.active {
    color: #333;
    background-color: rgba(0, 79, 21, 0.9);
}

.btn-layouts div {
    background-color: #D9D9D9;
    padding: 5px 5px 0 5px;
}
.panel .btn-inline{
    display: inline;
    margin: 10px;
    font-size: 2em;
    height: 54px;
    /*color: whitesmoke;*/
    background-color: #a5a5a5;
}

#btnHomePage, #btnPrevPage, #btnLogout {
    color: #FFF;
    font-size: 1em;
    margin: -5px; /*negate parent padding*/
}

.btn-icon {
    border: none;
    background: none;
}