/*
Calendar page styles
===============================
 */
.calendar-day-scroller {
    overflow: scroll;
    box-shadow: 0 0 8px 0 #000;
    z-index: 1000;
}

.calendar-day-events {
    width: 100%;
    top: 80px;
    bottom: 0;
    position: absolute;
    overflow: scroll;
    color: #000;
}

.calendar-day-events .meeting-title {
    color: #000;
    font-size: 1.2em;
}

.calendar-day-events .list-group p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-day-name {
    color: #AAA;
    display: block;
}

.calendar-day-number {
    color: #555;
    font-size: 2em;
}

.btn-calendar-day {
    width: 70px;
    height: 80px;
    background-color: #FFF;
    border: 1px solid #AAA;
    z-index: 0;
}

.btn-calendar-day-blank {
    width: 1px;
    padding: 0;
}

.btn-calendar-day.highlight {
    box-shadow: 0 0 40px -5px #333;
    z-index: 1000;
}

.btn-calendar-day.highlight .calendar-day-number {
    padding: 5px;
    color: #FFF;
    background-color: #004F15;
    border-radius: 35px;
}

.btn-calendar-day.today .calendar-day-number {
    padding: 3px;
    border: 2px solid #004F15;
    border-radius: 35px;
}


