/*
Camera controls page styles
===============================
 */
.camera button {
    font-size: 1em;
}

.camera .camera-image {
    margin-top: 5%;
    border: 10px solid #FFF;
    border-radius: 5px;
}

.camera .camera-image img {
    width: 100%;
}

.camera-controls {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.camera .row {
    margin: 0 auto 2% auto;
}

.camera-pad-column {
    width: 11.5em;
    display: inline-block;
}

.camera-zoom-column {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.btn-camera-landscape {
    margin: 0;
    padding: 0;
    width: 4em;
    height: 2.5em;
}

.btn-camera-portrait {
    margin: 0;
    padding: 0;
    width: 2.5em;
    height: 4em;
}

.btn-camera-square {
    margin: 0;
    padding: 0;
    width: 2.5em;
    height: 2.5em;
}

.btn-camera-full-width {
    margin: 0;
    padding: 0 1% 0 1%;
    width: 90%;
    height: 2.5em;
    text-align: left;
}

.btn-camera-full-width span {
    margin-top: 0.5%;
}

@media (max-height: 500px) {
    .camera-pad-column {
        width: 10em;
    }

    .btn-camera-square {
        width: 2em;
        height: 2em;
    }

    .btn-camera-landscape {
        width: 3.5em;
        height: 2em;
    }

    .btn-camera-portrait {
        width: 2em;
        height: 3.5em;
    }

    .btn-camera-full-width {
        height: 2em;
    }

    #btnCamUp {
        margin-bottom: -10%;
    }
    #btnCamDown {
        margin-top: -10%;
    }
}


