/*
Device Main Page Styles
===================
*/
#deviceMainPage {

}

#deviceMainPage.scale-in {

}

.presentation {
    height: 100%;
    left: 15px;
    right: 50px;
    position: absolute;
}

.presentation-buttons {
    text-align: center;
    margin: 0 auto;
}

.presentation-buttons .btn-presentation-lbl {
    position: relative;
    bottom: 2px;
}

.presentation-buttons .icon-laptop {
    font-size: 1.6em;
}

.presentation-layout {
    width: 100%;
    max-width: 6.4em;
    height: 40%;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    color: #999;
    background-color: #999;
    font-size: 7em;
    text-align: center;
    border-radius: 5px;
}

.presentation-layout .selfview {
    width: 85px;
    height: 55px;
    right: 5px;
    bottom: 5px;
    padding: 16px;
    position: absolute;
    font-size: 0.2em;
    color: #555;
    background-color: #AAA;
    opacity: 0.9;
}

.presentation-layout .layout-user,
.presentation-layout .layout-laptop {
    width: 50%;
    left: 25%;
    position: absolute;
    background-color: #555;
}

.presentation-layout .layout-user span,
.presentation-layout .layout-laptop span {
}

.presentation-layout .layout-user {
    top: 5px;
    bottom: 51%;
}

.presentation-layout .layout-user.layout-single {
    top: 2%;
    height: 96%;
    width: 70%;
    left: 15%;
    font-size: 2em;
}

.presentation-layout .layout-user.layout-prominent {
    width: 30%;
    height: 20%;
    left: 35%;
    font-size: 0.5em;
}


.presentation-layout .layout-user.layout-overlay {
    width: 30%;
    height: 20%;
    left: 35%;
    font-size: 0.5em;
    z-index: 1000;
    color: #555;
    background-color: #999;
}

.presentation-layout .layout-laptop {
    top: 51%;
    bottom: 5px;
}

.presentation-layout .layout-laptop.layout-prominent {
    width: 80%;
    height: 77%;
    top: 22%;
    left: 10%;
    font-size: 1.8em;
}

.presentation-layout .layout-laptop.layout-overlay {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    font-size: 2.3em;
}

.presentation-layout .selfview span {
    border: 1px solid;
}

.alert-meeting {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 45em;
    margin: 10px auto;
    margin-bottom: 5px;
    padding: 10px;
    position: absolute;
}

.alert-meeting hr {
    margin: 0;
}

.alert-meeting a {
    color: inherit;
}

.alert-meeting-label {
    /*text-decoration: underline;*/
}

#currentMeeting {
    margin-bottom: 10px;
}

#currentMeetingTitle {
    max-width: calc(100% - 74px);
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

#currentMeetingTimer {
    min-width: 60px;
    font-weight: bold;
    display: inline;
}

#currentMeetingPhoneNumber {
    margin-left: 10px;
}

#nextMeetingTitle {
    max-width: calc(100% - 134px);
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

#nextMeetingTime {
    min-width: 120px;
    font-weight: bold;
    display: inline;
}

.alert-action {
    margin: 0;
    position: absolute;
    top: 55px;
    width: 100%;
    z-index: 1000;
}

#btnCalendar {
    position: absolute;
    right: 10px;
}

.volume-controls {
    top: 10px;
    bottom: 0;
    right: 10px;
    position: absolute;
    font-size: 1.5em;
}

.volume-controls .top {
    width: 30px;
    margin: 0;
    margin-top: 5px;
    padding-left: 5px;
}

.volume-controls .center {
    position: absolute;
    right: 15px;
    top: 65px;
    bottom: 65px;
}

.volume-controls .bottom {
    position: absolute;
    width: 30px;
    bottom: 45px;
    margin: 0;
    padding-left: 5px;
}

.volume-controls .btn-mic,
.volume-controls .btn-mic:hover,
.volume-controls .btn-mic:focus  {
    width: 30px;
    height: 30px;
    font-size: 0.9em;
    background-color: #999;
    color: #FFF;
    border-radius: 100%;
    padding: 0 0 1px 0;
    vertical-align: top;
}

.volume-controls .btn-mic:active {
    color: #333;
}

.volume-controls .btn-selfview {
    position: absolute;
    bottom: 0px;
    padding: 0;
    font-size: 1.5em;
    color: #999;
    background-color: inherit;
}

.volume-controls .btn-selfview span {
    border: 1px solid;
}

@media (max-width: 400px) {
    .presentation-layout {
        font-size: 4em;
    }

    .presentation-layout .selfview {
        width: 70px;
        height: 50px;
        font-size: 0.3em;
    }

    .volume-controls .btn-selfview {
        font-size: 1.3em;
    }
}

@media (max-height: 570px) {
    .presentation-layout {
        font-size: 3em;
    }

    .presentation-layout .layout-laptop.layout-prominent {
        height: 75%;
        top: 25%;
        font-size: 2em;
    }
}

