@font-face {
	font-family: 'voyager';
	src:url('fonts/voyager.eot');
	src:url('fonts/voyager.eot?#iefix') format('embedded-opentype'),
		url('fonts/voyager.woff') format('woff'),
		url('fonts/voyager.ttf') format('truetype'),
		url('fonts/voyager.svg#voyager') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'voyager';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e009";
}
.icon-monitor-play:before {
	content: "\e002";
}
.icon-monitor-delete:before {
	content: "\e003";
}
.icon-list:before {
	content: "\e004";
}
.icon-home:before {
	content: "\e005";
}
.icon-home-location-round:before {
	content: "\e006";
}
.icon-group:before {
	content: "\e007";
}
.icon-group-add:before {
	content: "\e008";
}
.icon-email:before {
	content: "\e00a";
}
.icon-dial:before {
	content: "\e00b";
}
.icon-calendar:before {
	content: "\e00c";
}
.icon-book-contact:before {
	content: "\e00d";
}
.icon-check:before {
	content: "\e00e";
}
.icon-chevron-down:before {
	content: "\e00f";
}
.icon-clear-inverse:before {
	content: "\e010";
}
.icon-clear-inverse-reflect-horizontal:before {
	content: "\e011";
}
.icon-close:before {
	content: "\e012";
}
.icon-chevron-up:before {
	content: "\e013";
}
.icon-chevron-right:before {
	content: "\e014";
}
.icon-chevron-left:before {
	content: "\e015";
}
.icon-clear:before {
	content: "\e016";
}
.icon-clear-reflect-horizontal:before {
	content: "\e017";
}
.icon-power:before {
	content: "\e019";
}
.icon-phone:before {
	content: "\e01a";
}
.icon-phone-hangup:before {
	content: "\e01b";
}
.icon-refresh:before {
	content: "\e01c";
}
.icon-save:before {
	content: "\e01d";
}
.icon-settings:before {
	content: "\e01e";
}
.icon-sound-3:before {
	content: "\e01f";
}
.icon-sound-2:before {
	content: "\e020";
}
.icon-sound-1:before {
	content: "\e021";
}
.icon-sound-0:before {
	content: "\e022";
}
.icon-star:before {
	content: "\e023";
}
.icon-star-minus:before {
	content: "\e024";
}
.icon-star-add:before {
	content: "\e025";
}
.icon-timer-rewind:before {
	content: "\e026";
}
.icon-arrow-up:before {
	content: "\e027";
}
.icon-arrow-right:before {
	content: "\e028";
}
.icon-arrow-left:before {
	content: "\e029";
}
.icon-arrow-down:before {
	content: "\e02a";
}
.icon-menu:before {
	content: "\e02b";
}
.icon-location-round:before {
	content: "\e02e";
}
.icon-magnify:before {
	content: "\e02f";
}
.icon-magnify-add:before {
	content: "\e030";
}
.icon-magnify-minus:before {
	content: "\e031";
}
.icon-filter-alphabetical:before {
	content: "\e032";
}
.icon-delete:before {
	content: "\e033";
}
.icon-microphone-mute:before {
	content: "\e018";
}
.icon-clock:before {
	content: "\e034";
}
.icon-microphone:before {
	content: "\e035";
}
.icon-arrow-expand:before {
	content: "\e036";
}
.icon-arrow-collapsed:before {
	content: "\e037";
}
.icon-group-delete:before {
	content: "\e001";
}
.icon-calendar-plus:before {
	content: "\e038";
}
.icon-video:before {
	content: "\e000";
}
.icon-image-redeye:before {
	content: "\e02c";
}
.icon-image-frame:before {
	content: "\e02d";
}
.icon-add:before {
	content: "\e03c";
}
.icon-tv-remote:before {
	content: "\e03d";
}
.icon-city:before {
	content: "\e03e";
}
.icon-laptop:before {
	content: "\e600";
}
.icon-layout-prominent:before {
	content: "\e601";
}
.icon-layout-equal:before {
	content: "\e602";
}
.icon-layout-overlay:before {
	content: "\e603";
}
.icon-globe:before {
	content: "\e604";
}
.icon-door-lock-open:before {
	content: "\e605";
}
.icon-cisco-phone:before {
	content: "\e606";
}
