/*
Home Page Styles
===================
*/
#homePage .container {
    height: 100%;
}

#homePage .margin-div {
    height: 4%;
}

.btn-home-wrap {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 2em;
}

.btn-home-row {
    width: 40%;
    padding-bottom: 40%;
    margin: 0 30%;
    text-align: center;
    position: relative;
}

.btn-home-row:nth-of-type(2) {
    margin-top: 5px;
    padding-bottom: 0;
}

.btn-home,
.btn-home:hover,
.btn-home:focus {
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 1.5em;
    background-color: rgb(208, 199, 143);
    border-radius: 20%;
    border-color: rgb(208, 199, 143);
    position: absolute;
}

.btn-home:active {
    color: #000;
    background-color: rgb(208, 199, 143);
    border-color: rgb(208, 199, 143);
}

/*Now we will create fish-eye shapes using pseudo elements and*/
/*clip them to add a curve to the sides of the icons*/
/*.btn-home:before, .btn-home:after {*/
/*content: '';*/
/*position: absolute; left: 0; top: 0;*/
/*width: 100%; height: 100%;*/
/*background: inherit;*/
/*border-radius: 100%; *//*circle*/
/*-webkit-transform: scaleX(1.45) scaleY(1.1);*/
/*clip: rect(0, 107px, 150px, 42px);*/
/*z-index: -1;*/
/*}*/

/*duplicating the :before element and rotating it 90deg and swapping the X/Y transforms*/
/*.btn-home:after {*/
/*-webkit-transform: scaleY(1.45) scaleX(1.1) rotate(90deg);*/
/*}*/

.btn-home-label {
    font-size: 0.8em;
    padding: 0;
    text-align: center;
}

.btn-home-long {
    margin: 0 auto;
    width: 75%;
    text-align: left;
}

.btn-home-long span {
    padding-top: 2px;
}

#homePage .btn-home-icon {
    font-size: 2em;
    padding: 0;
}

@media (min-width: 769px) {
    .btn-home,
    .btn-home:active {
        font-size: 3em;
    }
}

@media (min-width: 450px) {
    .btn-home-label {
        font-size: 1.5em;
    }
}


