/*
Modal styles
===============================
 */
.modal {
    width: 100%;
    height: 100%;
    display: table;
}

.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    max-width: 350px;
    margin: 0 auto;
}

.modal-body {
    padding-bottom: 0;
}

.modal-body .row {
    margin-bottom: 20px;
}

.modal .list-group-item {
    margin-bottom: -1px;
}

.modal .list-group-item div {
    padding-left: 0;
}

#favoritesModal .list-group-item div {
    font-weight: bold;
}

#favoritesModal .list-group-item .pull-right {
    text-align: right;
    padding-right: 0;
    font-weight: normal;
    color: #999;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#loginModal .modal-content {
    background-color: #004513;
}

#loginModal .modal-body {
    padding-bottom: 20px;
}

#loginModal .login-title {
    color: #FFF;
    font-size: 3em;
    font-family: "Arial Rounded MT Bold";
    text-align: center;
}

#loginModal .modal-body .login-submit {
    color: #333;
    background-color: #EFEFEF;
}

#loginModal .modal-body .login-submit:disabled {
    color: #999;
}

#loginModal .modal-body .alert {
    margin-top: 30px;
}


