/*
Page styles
===============================
 */
.page {
    top: 55px;
    bottom: 60px;
    width: 100%;
    background-color: #EFEFEF;
    position: absolute;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.page.footer-none {
    bottom: 0;
}

.page .list-group {
    margin-bottom: 0;
}

.page-scroll {
    overflow: scroll;
}


