/*
Phone page styles
===============================
 */
.dial {
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 600px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.dial .row {
    height: 16%;
    margin: 2px 0 2px 0;
}

.dial-output {
    top: 5%;
    position: relative;
    overflow: hidden;
}

.dial-output p {
    margin: 0;
    font-size: 2em;
}

.dial-output button,
.dial-output button:hover,
.dial-output button:focus {
    top: 0px;
    right: 10px;
    border: none;
    font-size: 2.5em;
    position: absolute;
    color: #333;
    background-color: #EFEFEF;
}

.dial-output button:active {
    color: #999;
}

.btn-dial,
.btn-dial:hover,
.btn-dial:focus {
    width: 32%;
    height: 100%;
    background-color: #F0F0F0;
    border: 2px solid #AAA;
    color: #555;
    font-size: 2em;
    font-weight: bold;
}

.btn-dial:active {
    color: #999;
}

.btn-dial.btn-tab:hover,
.btn-dial.btn-tab:focus {
    font-size: 1em;
}

.btn-dial.btn-tab span {
    font-size: 3em;
    position: relative;
    bottom: 5px;
}

.btn-call,
.btn-call:hover,
.btn-call:focus {
    color: #FFF;
    background-color: #004F15;
}

.btn-call.btn-tab span {
    bottom: 2px;
}

.btn-call.btn-call-end {
    background-color: #961414;
}

#dialInCall {
    padding: 10px;
    height: 100%;
}

#dialInCall .dial-in-call-buttons {
    height: 50px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#dialInCall .dial-in-call-buttons button {
    height: 100%;
    border: none;
}

#dialInCall .dial-in-call-buttons .btn-call {
    width: 75%;
}

#dialInCall .dial-in-call-buttons .btn-default {
    width: 23%;
    font-size: 2em;
}

#dialInCallList {
    height: calc(100% - 60px);
    overflow-y: auto;
}

#dialInCallList .panel-heading {
    line-height: 2em;
}

#dialInCallList .panel-heading button,
#dialInCallList .list-group-item-button,
.mcu-participants .panel-heading button,
.mcu-participants .list-group-item-button {
    padding: 0.2em 0.4em;
    background-color: inherit;
    border-color: #004F15;
}

#dialInCallList .list-group-item-button,
.mcu-participants .list-group-item-button {
    font-size: 2em;
}

#dialInCallList .list-group-item-button:last-of-type,
.mcu-participants .list-group-item-button:last-of-type  {
    margin-right: 8px;
}

#dialInCallList .btn-end-MCU-call,
.mcu-participants .btn-end-MCU-call {
    border-color: #961414;
}

#dialInCallList .list-group-item-label,
.mcu-participants .list-group-item-label {
    max-width: calc(100% - 65px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.mcu-participants {
    margin: 10px 0;
}

@media (max-height: 500px) {
    .btn-dial.btn-tab span {
        font-size: 2.5em;
    }
}


