/*
Popover styles
===============================
 */
.popover,
.popover:hover,
.popover:focus,
.popover:active {
    min-width: 300px;
    color: #AAA;
}

.popover-center {
    left: 0 !important;
    right: 0;
    min-width: 100px;
    max-width: 300px !important;
    margin: 10px auto;
}

.popover .list-group {
    margin: 0;
    padding: 0;
}

.navbar-brand > .popover {
    max-width: 800px;
    width: auto;
}

.navbar-brand > .device-list .caret-opened {
    border-top: 0 dotted;
    border-bottom: 4px solid;
}


