/*
Rooms page styles
===============================
 */
#roomsPage .list-group-item {
    overflow: hidden;
    line-height: 30px;
}

#roomsPage button {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0.8em;
    font-size: 1.5em;
    color: #FFF;
    background-color: #555;
}

#roomsPage button span {
    position: relative;
    bottom: 5px;
    right: 8px;
}

#roomsPage .rooms-list,
#roomsPage .rooms-calendar {
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.rooms-list {
    height: 100%;
    overflow: scroll;
}

.rooms-list-open {
    height: 50%;
}

.rooms-calendar {
    height: 0;
    width: 100%;
    background-color: #EFEFEF;
    box-shadow: 0px 5px 20px 5px #555;
    position: relative;
    overflow: scroll;
}

.rooms-calendar-open {
    height: 50%;
}

.rooms-calendar-timeline {
    height: 100px;
    width: 100%;
    top: 45px;
    line-height: 100px;
    position: relative;
}

.rooms-calendar .marker-group {
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 1200px;
    display: block;
    white-space: nowrap;
    position: absolute;
    /*border: 1px solid #999;*/
    /*border-radius: 5px;*/
}

.rooms-calendar .marker-item {
    width: 15%;
    min-width: 100px;
    height: 120px;
    list-style-type: none;
    display: inline-block;
    color: #999;
}

.rooms-calendar .marker-item:before {
    content: "";
    background: #999;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 1px;
}

/*
Multicalendar meeting-add modal styles
===============================
 */
#roomsModal .modal-body div {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}


