.page-content {
  height: 100%;
  width: 100%;
  position: absolute;

  -webkit-box-shadow: 0 0 10px 0 #000;
  -moz-box-shadow: 0 0 10px 0 #000;
  -o-box-shadow: 0 0 10px 0 #000;
  -ms-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;

  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);

  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.sidebar {
  width: 20em;
  background: #FFF;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  z-index: -1000;

  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 20em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  font-size: 16px;
  text-indent: 10px;
  border-bottom: 1px solid #D9D9D9;
}

.sidebar-nav li a {
  color: #AAA;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #FFF;
  background-color: #004F15;
  text-decoration: none;
}

.sidebar-nav li b {
  color: #333;
  font-size: 1.5em;
  margin: 0 10px 0 15px;
}

.sidebar-nav li:hover b {
  color: #FFF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  min-height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-indent: 20px;
  background-color: #D9D9D9;
}

.sidebar-nav > .sidebar-brand p {
  color: #555;
  float: left;
  margin: 0;
}

.sidebar-nav > .sidebar-brand a {
  color: #333;
  font-size: 1.5em;
  margin-right: 10px;
  line-height: 50px;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #333;
    background-color: initial;
}

.sidebar-nav > .sidebar-brand a:active,
.sidebar-nav > .sidebar-brand a:focus {
    color: #555;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
}

.menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

.page-content {
  padding-left: 0;
}

.page-content.sidebar-on {
  -webkit-transform: translate(20em, 0);
  -moz-transform: translate(20em, 0);
  -o-transform: translate(20em, 0);
  -ms-transform: translate(20em, 0);
  transform: translate(20em, 0);

  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.sidebar.sidebar-on {
  position: inherit;
}

.menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}