.slider.slider-vertical {
    height: 100%;
    width: 30px;
}

.slider.slider-vertical .slider-track {
    width: 2px;
    margin-left: 0;
}

.slider-track {
    background-color: #BBB;
    background-image: none;
}

.slider-selection {
    background-color: #007AFF;
    background-image: none;
}

.slider-handle {
    width: 25px;
    height: 25px;
    background-color: #FFF;
    background-image: none;
    opacity: 1;
    border: none;
    box-shadow: 2px 0 5px 0 #AAA;
}

.slider-handle.round {
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

.slider.slider-vertical .slider-handle {
    margin-left: -12px;
}