/*
General styles
===============================
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    height: 55px;
}

.animate-all {
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.animate-all-fast {
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.page-content {
    background: url("../images/FAMClogo1.png") no-repeat center #EFEFEF;
    overflow: hidden;
}

.page-padded {
    padding: 10px;
}

.device-pages {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (max-width: 450px) {
    .page-content {
        background-size: contain;
    }
}

@media (min-width: 769px) {
}

.pull-up {
    vertical-align: top !important;
}

.pull-middle {
    vertical-align: middle !important;
}

.pull-down {
    vertical-align: bottom !important;
}

.align-center {
    text-align: center;
}

.center-div {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.reset-transform {
    -webkit-transform: none;
    transform: none;
}

.btn-disabled {
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
}

/*
Custom Colors
===================
*/
.color1 {
    /* blueviolet*/
    background-color: rgb(138, 43, 226);
    font-weight: bold;
}

.color2 {
    /* brown*/
    background-color: rgb(165, 42, 42);
    font-weight: bold;
}

.color3 {
    /* cadetblue*/
    background-color: rgb(95, 158, 160);
    font-weight: bold;
}


.color5 {
    /* cornflowerblue*/
    background-color: rgb(100, 149, 237);
    font-weight: bold;
}

.color6 {
    /* darkseagreen*/
    background-color: rgb(143, 188, 143);
    font-weight: bold;
}

.color7 {
    /* indianred*/
    color: #7F8C8D;
    background-color: rgb(205, 92, 92);
    font-weight: bold;
}

.color8, .color8 a{

    color: #7F8C8D;
    background-color:  lightgray;
    font-weight: bold;
}
.color4, .color4 a{

    color: whitesmoke;
    background-color: #27AE60;
    font-weight: bold;
}
.color9, .color9 a {
    color: whitesmoke;
    background-color: #2980B9;
    font-weight: bold;
}


.color10 {
    /* teal*/
    background-color: rgb(0, 128, 128);
    font-weight: bold;

}


