/*
Tabbar styles
===============================
 */
.navbar-fixed-bottom {
    height: 60px;
}

.navbar-tabbar {
    text-align: center;
}

.navbar-tabbar > .nav {
    height: 100%;
}

.navbar-tabbar > .nav > .tabbar-item {
    height: 100%;
    width: 24%;
    max-width: 100px;
    float: none;
    display: inline-block;
}

.navbar-tabbar > .nav > .tabbar-item > a,
.navbar-tabbar > .nav > .tabbar-item > a:hover,
.navbar-tabbar > .nav > .tabbar-item > a:focus {
    height: 56px;
    margin: 2px 1px 2px 1px;
    padding: 0;
    color: #FFF;
}

.navbar-tabbar > .nav > .tabbar-item > a:active {
    background-color: #004513;
    background-color: rgba(208, 199, 143, 0.2);
    color: rgb(208, 199, 143);
}

.navbar-tabbar > .nav > .tabbar-item-inactive > a,
.navbar-tabbar > .nav > .tabbar-item-inactive > a:hover,
.navbar-tabbar > .nav > .tabbar-item-inactive > a:focus {
    color: #999;
    background-color: inherit;
}

.navbar-tabbar > .nav > .tabbar-item > a > p {
    margin-top: -10px;
}

.navbar-tabbar > .nav > .tabbar-item.active > a {
    background-color: #004513;
    background-color: rgba(208, 199, 143, 0.2);
    color: rgb(208, 199, 143);
}

.tabbar-item-label {
    margin-top: -10px;
}

.tabbar-item a span {
    font-size: 2em;
    line-height: 40px;
}

.tabbar-item a p {
    font-size: 0.9em;
    line-height: 35px;
}

@media (max-width: 450px) {
    .navbar-tabbar > .nav > li {
        float: left;
    }
}


